html {
	box-sizing: border-box;
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
}

@import url(https://db.onlinewebfonts.com/c/735509e0bf5184ea990116fc3ab9928c?family=lois+Cesarano);

@font-face {font-family: "lois Cesarano"; src: url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.eot"); src: url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.woff") format("woff"), url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/735509e0bf5184ea990116fc3ab9928c.svg#lois Cesarano") format("svg"); }
h1 {
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: Lois Cesarano;
    letter-spacing: 20px;
}

.doodle {
	position: fixed;
	z-index: -5;
	overflow: hidden;
	}

.header {
	text-align: center;
	font-size: 50px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-style: italic;
	letter-spacing: 60px;
	line-height: 60px;
	color: white;
	padding-top: 30px;
	text-shadow: 10px 10px 3px rgba(21, 13, 31, 0.842);
	margin-top: 25px;
	}

h2, h3, h4 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
	color: white !important;
	}

h1, #magicNumber, #totalScore, #wins, #losses, .score {
	color: white;
	}

#magicNumber {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	}

.crystalimg {
	width: 150px;
	margin: 20px auto;
	}

.directions {
	color: lightgray;
	text-align: center;
	padding: 20px 85px;
	}

.score {
	padding-top: 10px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
	}

#winOrLose {
	color: #ec8c53;
	}

.total, .scores, .directions {
	margin: auto;
	}

.btn {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	letter-spacing: 3px;
	border: none;
	}

.btn:hover {
	background-color: #ec8c53;
	}

@media screen and (max-width: 540px) {
	.crystalimg {
		width: 75px !important;
		display: -moz-inline-grid !important;
		
	}
	.col-xs-6 {
		width: 25% !important;
		height: auto;
	}
	p {
		font-size: 10px;
	}
	h2, h3, h4 {
		font-size: 15px !important;
	}
	.score {
		font-size: 15px !important;
	}
	.btn {
		width: 200px;
		height: 37px;
		font-size: 15px !important;
	}
	}








